[submodule "component/mantle-udm"]
	path = component/mantle-udm
	url = https://github.com/growerp/mantle-udm.git
	branch = growerp
[submodule "component/mantle-usl"]
	path = component/mantle-usl
	url = https://github.com/growerp/mantle-usl.git
	branch = growerp
[submodule "component/moqui-fop"]
	path = component/moqui-fop
	url = https://github.com/growerp/moqui-fop.git
	branch = growerp
[submodule "component/moqui-mcp"]
	path = component/moqui-mcp
	url = https://github.com/growerp/moqui-mcp.git
	branch = growerp
[submodule "component/moqui-adk"]
	path = component/moqui-adk
	url = https://github.com/growerp/moqui-adk.git
	branch = growerp
